<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de - BigData-MiProyecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/landingPage.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h3 mb-0">DocuSearch</h1>
                <nav>
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/buscador">Buscador</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/about"><b>Acerca de</b></a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Ingresar</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="container mt-4">
        <h3 class="text-center mb-4">Descripción:</h3>
        <p class="text-center mb-4">
            DocuSearch es una aplicación web diseñada para facilitar la búsqueda inteligente y eficiente de documentos digitales indexados en Elasticsearch. 
            Ofrece una experiencia ágil y precisa. Está pensada especialmente para proyectos académicos y de analítica de datos, integrando una interfaz clara, 
            navegación amigable y tecnologías modernas como Flask y MongoDB.
        </p>

        <!-- Acordeón-->
        <div class="accordion mb-5" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        ¿Cómo funciona DocuSearch?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        DocuSearch permite subir, indexar y buscar documentos mediante Elasticsearch. Usa una arquitectura basada en Flask, con MongoDB para almacenamiento adicional y filtros avanzados para mejorar la experiencia del usuario.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        ¿Quién desarrolló DocuSearch?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Esta aplicación fue desarrollada como parte de un proyecto de Maestría en Analítica de Datos por Yuri Martínez en la Universidad Central.
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='Images/creador.jpg') }}" alt="Foto del creador" class="profile-img">
                <h4>Yuri Martínez</h4>
                <p>Estudiante de Maestría en Analítica de Datos</p>
                <p>Universidad Central</p>
                
                <div class="social-links mt-3">
                    <a href="https://github.com/ymartinez28" target="_blank" class="btn btn-primary">GitHub</a>
                    <a href="https://linkedin.com/in/yuri-jhohana-martínez-9b7b131ab/" target="_blank" class="btn btn-warning">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center mt-5">
        <p class="mb-0">Creado por {{ creador }}</p>
        <p class="mb-0" id="current-year"></p>
        <p class="mb-0" id="version_app">{{ version }}</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
